// Define custom colors before importing Bootstrap
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.mb-20vh {
    margin-bottom: 20vh;
}

.card-project {
    .card-img {
        transition: transform 0.3s ease;
    }
    
    .card-img-overlay {
        opacity: 0;
        backdrop-filter: blur(6px);
        background: 
            radial-gradient(
                5rem circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
                rgba($white, 0.7),
                rgba($secondary, 0.0)
            );
        box-shadow: inset 3px 3px 0 rgba(255, 255, 255, 0.75),
                    inset 0 0 7px rgba(237, 245, 255, 0.75);
        transition: opacity 0.3s ease;
    }
    
    &.loaded {
        .card-img-overlay {
            transition: opacity 0.3s ease;
        }
    }
    
    &:hover {
        .card-img {
            transform: scale(1.03);
        }
        
        .card-img-overlay {
            opacity: 1;
        }
    }
    
    // Show text by default on mobile (screens smaller than 768px)
    @media (max-width: 767.98px) {
        .card-img-overlay {
            opacity: 1;
        }
    }
}

.card-square {
    aspect-ratio: 1 / 1;
}
