// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

.card {
    .card-img {
        transition: opacity 0.3s ease;
    }
    
    .card-img-overlay {
        opacity: 0;
    }
    
    &.loaded {
        .card-img-overlay {
            transition: opacity 0.3s ease;
        }
    }
    
    &:hover {
        .card-img {
            opacity: 0.5;
        }
        
        .card-img-overlay {
            opacity: 1;
        }
    }
    
    // Show text by default on mobile (screens smaller than 768px)
    @media (max-width: 767.98px) {
        .card-img {
            opacity: 0.5;
        }
        
        .card-img-overlay {
            opacity: 1;
        }
    }
}